body {
	padding-top: 40px;
	background-color: #dfdfdf;
  width: 800px;
}

ul > li {
    margin-left: 10px;
}

.folder {
  color: black;
}

* {
	color: #62686C;
}

.navbar {
	background-color: #77B140;
	box-shadow: 0px 12px #388e3c;
	padding-right: 15px;
}

.navbar-text {
    color: white;
}

.navbar-brand b {
	color: white !important;
	letter-spacing: 3px;
}

.navbar a{
	color: white;
	text-transform: lowercase;
}

.navbar-btn {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	text-transform: lowercase;
	margin-right: 10px;
	transition: .3s;
}

.navbar-btn:hover {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 20px;
	color: #ddd;
}

.display-box {
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #444;
}

.logo {
	font-weight: normal;
	letter-spacing: 5px;
	font-size: 5em;
	line-height: 50%;
}

p {
	color: #62686C;
}

h4 {
	font-weight: normal;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

a {
 	text-decoration: none;
}

.dropdown-menu li {
 	line-height: 120%;
 }

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.query {
	text-transform: none; padding: 5px 10px 0px 10px;
}

#results {
  padding-top: 20px;
}
